.hotelInfo {
  width: 100%;
  height: 100%;

  .quickInfo {
    display: grid;
    grid-template:
      'name price' auto
      'info price' auto /
      auto  auto;

    .name {
      grid-area: name;
      font-size: 3.7rem;
      margin: 0;
      font-weight: 400;
      color: @gray;
    }

    .name::after {
      content: attr(data-rating);
      color: #9999a3;
      font-size: 2rem;
      margin-left: 6px;
    }

    .info {
      grid-area: info;
      display: flex;
      font-size: 1.6rem;
      margin-top: 3px;

      .item {
        &::before {
          content: attr(data-icon);
          font-family: 'vegasIcons';
          margin-right: 3px;
        }
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0 15px 0 0;
        color: @gray;
      }
    }

    .price {
      grid-area: price;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 8px;

      .num {
        margin: -11px 27px 0 0;
        font-size: 5.7rem;
        font-weight: 700;
        color: @secondary;
      }

      .label {
        margin: 3px 0 0 0;
        font-size: 1.6rem;
      }
    }
  }
}
