.hotelInfo {
  width: 100%;
  height: 100%;

  .quickInfo {
    display: grid;
    grid-template:
      'name price' auto
      'info price' auto /
      auto auto;

    .name {
      grid-area: name;
      font-size: 3.7rem;
      margin: 0;
      font-weight: 400;
      color: @gray;
    }

    .name::after {
      content: attr(data-rating);
      color: #9999a3;
      font-size: 2rem;
      margin-left: 6px;
    }

    .info {
      grid-area: info;
      display: flex;
      font-size: 1.6rem;
      margin-top: 3px;

      .item {
        &::before {
          content: attr(data-icon);
          font-family: 'vegasIcons';
          margin-right: 3px;
        }
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0 15px 0 0;
        color: @gray;
      }
    }

    .price {
      grid-area: price;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 0 8px 0 125px;

      .num {
        margin: -11px 27px 0 0;
        font-size: 5.7rem;
        font-weight: 700;
        color: @secondary;
      }

      .label {
        margin: 3px 0 0 0;
        font-size: 1.6rem;
      }
    }
  }

  .tabbedInfo {
    width: 677px;
    height: 60px;
    background-color: @primary;
    margin-top: 42px;

    .tabs {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .tab {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0 65px;
        height: 100%;
        color: @white;
        opacity: 0.5;
        font-weight: 400;
        font-size: 2rem;
        border-bottom: @purple 4px solid;
        cursor: pointer;
      }

      .selected {
        border-bottom: @dark-purple 4px solid;
        opacity: 0.95;
      }
    }

    .main {
      width: 100%;
      margin-top: 18px;
      padding: 0 18px 0;
      overflow: hidden;
      color: @black;
      font-size: 1.62rem;
      font-family: default;

      p {
        margin: 0;
        line-height: 1.4;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
      }

      dl {
        margin: 4px 0 22px;
        line-height: 1.3;

        dt {
          font-weight: bold;
        }

        dd {
          margin: 0;
        }
      }

      .address {

        &::before {
          content: '\2352';
          font-family: 'vegasIcons';
          margin: 0 10px 0 3px;
        }

        font-size: 2rem;
      }

      .hotelMap {
        margin-top: 13px;
      }
    }

    .collapsed {
      max-height: 200px;
    }

    .toggle {
      display: flex;
      align-items: center;
      margin: 14px 18px;
      padding: 0;
      background-color: transparent;
      border: 0;
      color: @primary;
      font-size: 1.76rem;

      &::after {
        font-family: 'vegasIcons';
        color: @white;
        background-color: @primary;
        width: 10px;
        height: 10px;
        font-size: 10px;
        padding: 2px;
        margin-left: 4px;
        border-radius: 50%;
      }
    }

    .down {
      &::after {
        content: '\2193';
      }
    }

    .up {
      &::after {
        content: '\2191';
      }
    }
  }
}
